<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Juntos Somos Mais</title>
    <img src="css/images/xpto.PNG" class="rounded float-start" width="50" height="60" >

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"  th:href="@{/css/styles.css}">
</head>
<body class= "p-3 mb-2 bg-secondary text-white" >
    <h1 class="fs-1 text-center">Juntos Somos Mais</h1>
    <h2 class="fs-4  mx-auto p-3 text-secondary-emphasis  ">Customers</h2>

    <table class="table table-hover" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Picture</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers.content}">
            <td th:text="${customer.id}"></td>
            <td><img th:src="${customer.picture.medium}"></td>
            <td th:text="${customer.name.first}+${customer.name.last}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.location.street}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=1}">1</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=2}">2</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=3}">3</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=4}">4</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=5}">5</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=6}">6</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=7}">7</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=8}">8</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=9}">9</a></li>
    <li class="page-item"><a class="page-link"th:href="@{http://localhost:8080/home?page=10}">10</a></li>
        </ul>
    </nav>
    <div class="container my-5">
        <footer class="text-center text-lg-start" style="background-color: dimgray;">
            <div class="container d-flex justify-content-center py-5">
                <img src="css/images/xpto.PNG" class="rounded float-start" width="50" height="60" >

            </div>

            <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
               XPTO - Printing Manager - Todos os Direiros Reservados
            </div>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>